<div class="container products" ng-controller="ProductCtrl">
    <div class="back">
        <a href="#/product">&lsaquo; Back</a>
    </div>
    <!-- end back -->

    <div class="form-horizontal">
        <div class="control-group">
            <label class="control-label">Name drinks</label>
            <div class="controls">
                <input type="text" class="span6" ng-model="product.name">
            </div>
            <!-- /controls -->
        </div>
        <!-- /control-group -->
        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
                <div class="btn-group">
                    <textarea class="span6" rows="4" ng-model="product.description"></textarea>
                </div>
            </div>
            <!-- /controls -->
        </div> 
        <!-- /control-group -->
        <div class="control-group">
            <label class="control-label">Category</label>
            <div class="controls">
                <div class="btn-group">
                    <select  ng-model="category" ng-options="category.name for category in categories">
                    </select>
                </div>
            </div>
            <!-- /controls -->
        </div>
        <!-- /control-group -->         
        <div class="control-group">
            <label class="control-label">Item price</label>
            <div class="controls">
                <div class="btn-group">
                    <select ng-model="itemPrice" ng-options="itemPrice.statusName for itemPrice in itemPrices">
                    </select>&nbsp;&nbsp;&nbsp;
                    <input type="text" class="span2" disabled="true" ng-model="itemPrice.price">&nbsp;&nbsp;&nbsp;vnđ
                </div>
            </div>
            <!-- /controls -->
        </div>
        <!-- /control-group -->                      
        <div class="control-group">
            <span ng-click="addItemPrice(itemPrice)" class="btn btn-small btn-success"><i class="icon-chevron-down"></i>&nbsp;&nbsp;Add item price</span>
        </div>
        <!-- /control-group -->
    </div>
    <!-- end form -->

    <div class="widget widget-table action-table">
        <div class="widget-header"> <i class="icon-th-list"></i>
            <h3>Danh sách lựa chọn</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th width="200">Status</th>
                        <th>Price</th>
                        <th class="td-actions"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="item" ng-repeat="status in listStatus">
                        <td>{{status.statusName}}</td>
                        <td>
                            <span><img src="img/icon-cafe.png">{{status.price}}</span>
                        </td>
                        <td class="td-actions"><span ng-click="deleteItemPriceSelected(status.id)" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /widget-content -->
    </div>
    <!-- /widget -->

    <!-- /control-group -->
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn">Cancel</button>
    </div>
</div>
